<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Project1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- このセクションでは、My.Application.Log のログ構成を定義します。-->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除します -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除して、APPLICATION_NAME をアプリケーション名に置き換えます -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Project1.My.MySettings>
            <setting name="MDB_File_PATH" serializeAs="String">
                <value>C:\MyDevelopment\VB.net\TD_Helmock_VB.NET_MDB\td_v10.mdb</value>
            </setting>
            <setting name="BagLabelLayoutFile" serializeAs="String">
                <value>\\140.81.58.14\public_share\system\CartonBoxLabel_mr400e_MLv4.mllay</value>
            </setting>
            <setting name="CartonBoxLabelLayoutFile" serializeAs="String">
                <value>\\140.81.58.14\public_share\system\CartonBoxLabel_mr400e_MLv4.mllay</value>
            </setting>
            <setting name="PrinterPath_PATH" serializeAs="String">
                <value>C:\Program Files\MLmeControl\PrinterFiles\</value>
            </setting>
            <setting name="BarcodePrinter_Setting" serializeAs="String">
                <value>DRV:SATO SR408</value>
            </setting>
            <setting name="Org" serializeAs="String">
                <value>CP91040N</value>
            </setting>
            <setting name="Cores" serializeAs="String">
                <value>CP91050N</value>
            </setting>
            <setting name="Chips" serializeAs="String">
                <value>CP91060N</value>
            </setting>
            <setting name="Hemlock_Org" serializeAs="String">
                <value>CP90670N</value>
            </setting>
            <setting name="Hemlock_Cores" serializeAs="String">
                <value>CP90680N</value>
            </setting>
            <setting name="Hemlock_Chips" serializeAs="String">
                <value>CP90690N</value>
            </setting>
            <setting name="Hemlock_Fragments" serializeAs="String">
                <value>CP90650N</value>
            </setting>
            <setting name="Serial_PortId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Serial_Port_Setting" serializeAs="String">
                <value>1200,n,8,1</value>
            </setting>
            <setting name="MIS_WarehouseId" serializeAs="String">
                <value>202</value>
            </setting>
            <setting name="MIS_FabId" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MIS_CustomerId" serializeAs="String">
                <value>KOM</value>
            </setting>
            <setting name="RPT_MDB_File_Path" serializeAs="String">
                <value>C:\MyDevelopment\VB.net\TD_Helmock_VB.NET_MDB\mis_rpt_tbl.mdb</value>
            </setting>
            <setting name="DB_DbName" serializeAs="String">
                <value>TD</value>
            </setting>
            <setting name="DB_Username" serializeAs="String">
                <value>td</value>
            </setting>
            <setting name="DB_Password" serializeAs="String">
                <value>td</value>
            </setting>
            <setting name="TableId" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Fragments" serializeAs="String">
                <value>CP91070N</value>
            </setting>
            <setting name="Specimen" serializeAs="String">
                <value />
            </setting>
            <setting name="OtherDefect" serializeAs="String">
                <value />
            </setting>
            <setting name="TdMaterialReportFilePath" serializeAs="String">
                <value>C:\MyDevelopment\VB.net\TD_Helmock_VB.NET_MDB\TD_Acceptance_V10_mdb.NET\ReportTD_Material.rdlx</value>
            </setting>
        </Project1.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
